<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <ion-card class="login-card">
    <img alt="DUOC UC Logo" src="assets/imgs/Logo-RegistrAPP.png" class="logo-image" />
    <ion-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="recoveryPassword()">
        <ion-item class="input-item">
          <ion-input formControlName="email" [(ngModel)]="email" type="email" label="Correo Electrónico:" labelPlacement="floating" placeholder="Ej: pedro@example.com"></ion-input>
        </ion-item>
        <ion-text position="stacked" color="danger" *ngIf="resetForm.get('email')?.hasError('required')">
          El correo es requerido!
        </ion-text>
        <ion-text position="stacked" color="danger" *ngIf="resetForm.get('email')?.hasError('email')">
          El correo es inválido!
        </ion-text>

        <ion-button expand="full" type="submit" class="login-button">Recuperar Contraseña</ion-button>

        <div class="login-text">
          ¿Recuerdas tu contraseña? 
          <a routerLink="/login" class="login-link">Inicia Sesión</a>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
