<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Selecciona una Clase</h2>

  <!-- Seleccionar Clase -->
  <ion-item>
    <ion-label>Clase</ion-label>
    <ion-select [(ngModel)]="selectedClaseId" (ionChange)="getAlumnos()">
      <ion-select-option *ngFor="let clase of clases$ | async" [value]="clase.id">
        {{ clase.materia }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de Estudiantes -->
  <div *ngIf="alumnos.length > 0">
    <h3>Alumnos</h3>
    <ion-list>
      <ion-item *ngFor="let alumno of alumnos">
        <ion-label>{{ alumno.name }}</ion-label>
        <ion-select [(ngModel)]="alumno.estado" interface="popover">
          <ion-select-option value="presente">Presente</ion-select-option>
          <ion-select-option value="ausente">Ausente</ion-select-option>
          <ion-select-option value="justificado">Justificado</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>

    <!-- Botón para Guardar Asistencia -->
    <ion-button expand="block" (click)="guardarAsistencia()">Guardar Asistencia</ion-button>
  </div>

  <!-- Mensaje si no hay alumnos -->
  <div *ngIf="alumnos.length === 0 && selectedClaseId">
    <p>No hay alumnos registrados para esta clase.</p>
  </div>
</ion-content>
