<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="diaDefault" (ionChange)="onDayChange($event)" scrollable>
    <ion-segment-button value="lunes">
      <ion-label>Lunes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="martes">
      <ion-label>Martes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="miércoles">
      <ion-label>Miércoles</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jueves">
      <ion-label>Jueves</ion-label>
    </ion-segment-button>
    <ion-segment-button value="viernes">
      <ion-label>Viernes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let clase of clases$ | async">
      <ion-label>
        <h2>{{ clase.materia }}</h2>
        <p>{{ clase.horaInicio }} - {{ clase.horaFin }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
