ion-content {
  --background: white;
}

.classes-container {
  padding: 16px;
}

ion-segment-button {
  --background: white;
  --indicator-color: #007bff;
}

ion-button {
  --background: #007bff;
  --color: white;
  min-width: 80px;
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

ion-item {
  --background: white;
  --border-radius: 10px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-item-options {
  --background: #f9f9f9;
}
