<ion-header>
  <ion-toolbar>
    <ion-title>Inicia Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <ion-card class="login-card">
    <img alt="DUOC UC Logo" src="assets/imgs/Logo-RegistrAPP.png" class="logo-image" />
    <ion-card-content>
      <form [formGroup]="loginForm">
        <!-- Formulario de login -->
        <ion-item class="input-item">
          <ion-input formControlName="email" type="email" placeholder="Correo"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input formControlName="pass" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="login()">Ingresar</ion-button>
      </form>

      <!--Inicio de sesion de Google y Github-->
      <div class="register-text">
        Iniciar Sesion con Google y GithHub
      </div>
      <ion-button expand="full" (click)="loginGoogle()"> <ion-icon name="logo-google" slot="start"></ion-icon> Google </ion-button>
      <ion-button expand="full" (click)="loginGithub()"> <ion-icon name="logo-github" slot="start"></ion-icon> Github </ion-button>

      <!-- Enlaces de registrar y recuperar contraseña -->
      <div class="register-text">
        ¿No tienes cuenta? 
        <a routerLink="/register" class="register-link">Haz clic aquí</a>
      </div>

      <div class="register-text">
        ¿Olvidaste tu contraseña? 
        <a routerLink="/passreco" class="register-link">Recupérala aquí</a>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Botón icónico para generar cuentas de usuarios en la esquina inferior derecha -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" size="small" (click)="generarUsuarios()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
