<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <ion-card class="login-card">
    <img class="logo-image" alt="Imagen de registro" src="assets/imgs/Logo-RegistrAPP.png" />
    <ion-card-content [formGroup]="registerForm">
      <ion-item class="input-item">
        <ion-input formControlName="name" [(ngModel)]="nomValue" type="text" label="Nombre:" labelPlacement="floating" placeholder="Ej: Juan Pérez"></ion-input>
      </ion-item>
      <ion-text position="stacked" color="danger" *ngIf="registerForm.get('name')?.hasError('required')">
        El nombre es requerido!
      </ion-text>
      <ion-item class="input-item">
        <ion-input formControlName="email" [(ngModel)]="emailValue" type="email" label="Correo electrónico:" labelPlacement="floating" placeholder="Ej: ejemplo@dominio.com"></ion-input>
      </ion-item>
      <ion-text position="stacked" color="danger" *ngIf="registerForm.get('email')?.hasError('required')">
        El correo electrónico es requerido!
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="registerForm.get('email')?.hasError('email')">
        El correo electrónico es inválido!
      </ion-text>
      <ion-item class="input-item">
        <ion-input formControlName="pass" [(ngModel)]="passValue" type="password" labelPlacement="floating" label="Contraseña:" placeholder="Ej: 123456"></ion-input>
      </ion-item>
      <ion-text position="stacked" color="danger" *ngIf="registerForm.get('pass')?.hasError('required')">
        La contraseña es requerida!
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="registerForm.get('pass')?.hasError('minlength')">
        La contraseña debe tener al menos 6 caracteres!
      </ion-text>
      <ion-button class="login-button" expand="full" (click)="register()">Registrarse</ion-button>

      <div class="login-text">
        ¿Ya tienes cuenta? 
        <a routerLink="/login" class="login-link">Inicia Sesión</a>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
