<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido, {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido, {{username}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARD PARA LA BIENVENIDA -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Hola, {{ username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img alt="Silhouette of mountains" src="assets/imgs/DUOC_UC.png" />
    </ion-card-content>
    <ion-card-content>
      Bienvenido al sistema.
    </ion-card-content>

    <!-- Nuevo diseño para los botones de Horario y Asistencia -->
    <div class="button-container">
      <ion-button class="custom-button" expand="block" (click)="navigateHorario()">
        <ion-icon name="time-sharp" slot="start"></ion-icon>
        Horario
      </ion-button>

      <ion-button class="custom-button" expand="block" (click)="navigateAsistencia()">
        <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        Asistencia
      </ion-button>
    </div>
  </ion-card>
</ion-content>
