<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title>Bienvenido, {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido, {{username}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <!--Boton Clases-->
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" routerLink="/clases">Clases</ion-button>
      </ion-col>
    </ion-row>

    <!--Boton Asistencia-->
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" routerLink="/asistencia">Asistencia</ion-button>
      </ion-col>
    </ion-row>

    <!--Boton Horario-->
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" routerLink="/horarios">Horario</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
