<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">Página Principal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-gradient">
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>

  <!-- CARD PARA LA BIENVENIDA -->
  <ion-card class="welcome-card">
    <ion-card-header>
 
    </ion-card-header>
    <ion-card-content class="custom-card-content">
      <img alt="Logo de la app" src="assets/imgs/Logo-RegistrAPP.png" class="logo-image" />
    </ion-card-content>

    <!-- Botones de Horario, Asistencia y Perfil -->
    <div class="button-container">
      <!-- Botón de Horario -->
      <ion-button class="custom-button" expand="block" (click)="navigateHorario()">
        <ion-icon name="time-sharp" slot="start"></ion-icon>
        Horario
      </ion-button>

      <!-- Boton de Mapa -->
       <ion-button class="custom-button" expand="block" (click)="navigateMapa()">
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        Mapa
       </ion-button>

      <!-- Botón de Asistencia -->
      <ion-button class="custom-button" expand="block" (click)="navigateAsistencia()">
        <ion-icon name="checkmark-sharp" slot="start"></ion-icon>
        Asistencia
      </ion-button>

      <!-- Botón para ver el perfil del usuario -->
      <ion-button class="custom-button" expand="block" (click)="navigateEstudianteinfo()">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        Perfil
      </ion-button>
    </div>
  </ion-card>
</ion-content>
