ion-content {
  --background: #f4f5f8; /* Fondo claro */
}

h2, h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

ion-item {
  --background: white;
  margin-bottom: 15px;
}

ion-button {
  margin-top: 15px;
}

.qr-code-style {
  margin: 20px auto;
  display: block;
  width: 200px; /* Tamaño del QR */
  height: 200px;
}
