<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Selecciona una Clase</h2>

  <!-- Seleccionar Clase -->
  <ion-item>
    <ion-label>Clase</ion-label>
    <ion-select [(ngModel)]="selectedClaseId" (ionChange)="getAlumnos()">
      <ion-select-option *ngFor="let clase of clases$ | async" [value]="clase.id">
        {{ clase.materia }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para Generar Código QR -->
  <ion-button expand="block" color="primary" (click)="generarQRCode()">Generar Código QR</ion-button>

  <!-- Sección del Código QR, centrado y solo visible si se ha generado -->
  <div *ngIf="qrCodeString" class="qr-code-container">
    <h3>Código QR Generado</h3>
    <qr-code [value]="qrCodeString"></qr-code> <!-- Mostramos el código QR -->
  </div>

</ion-content>
