<ion-content class="ion-padding">
  <h1 class="title">Código qr asistencia</h1>
  
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Nombre Clase</ion-label>
      <ion-input type="text" [(ngModel)]="className"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="date"></ion-input>
    </ion-item>
  </div>

  <div class="qr-container">
    <div class="qr-code">
      <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <p class="qr-instruction">Scanea el qr para marcar tu asistencia</p>
  </div>

  <div class="attendance-container">
    <h2 class="section-title">Lista de asistencia</h2>
    <div class="attendance-header">
      <div class="name-column">Nombre</div>
      <div class="time-column">Check-in </div>
    </div>
    <div class="attendance-row" *ngFor="let student of attendanceList">
      <div class="name-column">{{ student.name }}</div>
      <div class="time-column">{{ student.checkInTime | date:'HH:mm:ss' }}</div>
    </div>
  </div>

  <ion-button expand="block" (click)="endAttendance()" class="end-button">
    Terminar asistencia QR
  </ion-button>
</ion-content>