<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
   
    <ion-item *ngFor="let aux of usuarios">
      <ion-label>
        <p>Tipo usuario: {{ aux.tipo }}</p>
        <h2>{{ aux.email }}</h2>
        <p>Nombre: {{ aux.name }}</p>
      </ion-label>

    
      <ion-button slot="end" color="primary" (click)="editarUsuario(aux.email)">
        Editar
      </ion-button>

    
      <ion-button slot="end" color="danger" (click)="eliminarUsuario(aux.email)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
